*{
  margin: 0;
  padding: 0;
  box-sizing:border-box 0;
}

header{
  background-color: #add8e6;
  padding: 2px;
}

nav{
  width: 100%;
  margin: auto;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

.container-nav{
  display: flex;
  justify-content:space-between;
  background-color: #daa520;
  width: 60%;
  padding: 5px;
  border: 1px dashed black;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  border-left: 1px dashed black;
  border-right:1px dashed black;
  width:70%;
  margin: 0 auto;
}

nav ul li{
  margin-left: 5%;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

.container-jumbotron{
  background-color: #00008b;
  padding: 2.5%;
  margin-top: 1%;
}

.jumbotron{
  background-color: #ee82ee;
  width:30% ;
  padding: 10%;
  margin: 0 auto;
  border:1px dashed black;
}

.container-discord{
  padding:2.5%;
  display: flex;
  justify-content: center;
}

.container-discord.telematics{
  background-color: #ffff;
}

.container-discord.voice{
  background-color: #d3d3d3;
}

.container-discord.community{
  background-color: #ffff;
}

.container-discord.reliability{
  background-color: #d3d3d3;
}


.img{
  background-color: #1e90ff;
  width: 15%;
  padding: 10%;
  border:1px dashed #black;
}

.testo{
  background-color: #ffc0cb;
  width: 5%;
  padding: 10%;
  border:1px dashed black;
}


h1{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: #add8e6;
}

p{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: #ffc0cb;
}


.just-chillin{
  background-color: #228b22;
  width: 20%;
  padding: 20%;
}

h2{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: #add8e6;
}

footer{
  background-color: black;
  color: white;
}

.container-footer {
  display: flex;
  align-items: stretch;
  max-width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.container-footer > div {
  background-color: #20b2aa;
  width: 11%;
  min-height: 500px;
  border: 2px dashed white;
  margin-bottom: 30px;
}

.container-footer > div:first-child {
  background-color: #f08080;
  width: 20%;
  border: 2px dashed black;
}

.button{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #7fffd4;
  color: black;
}

.button > div{
  background-color:#f08080 ;
  width: 5%;
  text-align: center;
  border: 2px dashed black;
}